@tailwind base;
@tailwind components;
@tailwind utilities;

/* Avenir Font Family */
@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-LightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Oblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Heavy.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Avenir Next Condensed */
@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/AvenirNextLTPro-UltLtCn.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/AvenirNextLTPro-Cn.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/AvenirNextLTPro-MediumCn.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/AvenirNextLTPro-DemiCn.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/AvenirNextLTPro-BoldCn.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}


/* Global paragraph styling */
p {
  font-weight: 300;
}

/* Logo filter */
.logo-filter {
  filter: brightness(0);
}

.dark .logo-filter {
  filter: brightness(0) invert(1);
}

/* Custom dark mode styles */
:root.dark,
.dark {
  color-scheme: dark;
}

.dark h1,
.dark h2,
.dark h3 {
  color: white;
}

.dark p {
  color: rgb(229 231 235);
}

.dark .bg-white {
  background-color: rgb(20, 22, 25);
}

.dark .text-gray-900 {
  color: white;
}

.dark .text-gray-600 {
  color: rgb(229 231 235);
}

.dark .bg-gray-200 {
  background-color: rgb(55 65 81);
}

.dark .text-gray-700 {
  color: rgb(209 213 219);
}
